{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}



{% block content%}
    <h1>Наши популярные товары</h1>
        {% for product in products%}
        <a>
            <img src="{{ product.image.url }}" width="225" height="225" alt="">
        </a>
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <p><a href="{% url 'shop:product_detail' product.id %}">Посмотреть товар</a></p>
        {% endfor %}
{% endblock %}